html{
    border: 5px solid pink;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background: linear-gradient(to top, #ff66ff 0%, #ff9966 100%);
    color: white;
    font-size:1.1rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
}
ol { list-style-position:inside; padding:0; }
ul { list-style-position:inside; padding:0; }
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.topbar{
    background: rgba(255,255,255,0.3);
    justify-content: center;
    position: sticky;
}
img{
border-radius: 50%;
}
flex-container{
    display:flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: space-between;
    height: 500px;
       
}
.in-row{
    margin-right: 1%;
    display:inline-block;
    text-align: center;
    width: 150px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10%;
    color:white;
    margin-bottom: 10px;
}
.beverage{
    display: inline-flex;
    flex-wrap: wrap;
    
}
div{
    
}
p{
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.in-row-b{
    display: inline-block;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10%;
    width:156px;
    color:white;
    margin: 0 7px;
}
.flex-item{
    justify-content: center;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.flex-item-open{
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
h1.logo{
    margin: 0;
}
div.logo{
    margin: 0;
}
